{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
 #}
 <div class="row justify-content-center mt-5 mb-5 align-items-start">
 	<div class="col-lg-10 col-md-12 p-4 filters rounded">
 		<form{{ attributes }}>
 			{{ children }}
 		</form>
	</div>
</div>

