{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
 #}


{% if title %}
	<div class="row justify-content-center mt-5 mb-5 title">
		<div class="col-lg-10 col-md-12 mb-3 ">
			<h2 class="p-3">{{ title }}</h2>
		</div>
	</div>
{% endif %}

